<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <div class="btn-group" %>
      <%= link_to 'New Item', new_item_path, class: "btn btn-default" %>
      <%= link_to 'Search', search_items_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
<%= render "indexbody" %>
